* {
  /* border: 1px solid grey; */
}

.hero {
  background-image: url(https://picsum.photos/g/1200/400?image=120);
  background-size: cover;
  background-repeat: no-repeat;
  color: #eee;
  height: 25vw;
}

.hero .row {
  padding-top: 30px;
}

.row {
  padding-top: 15px;
}

.to-do-box {
  /* min-height: 200px; */
  background-color: #ddd;
  margin-top: 20px;
}

.timer {
  font-size: 4rem;
}

.timer-button {
  align-items: center;
  margin-top: 60%;
}